$fontTitle: 'Roboto', sans-serif;
$fontBody: 'helvetica', sans-serif;
$fontLink: 'helvetica', sans-serif;
$fontSpecial: 'comic sans ms', sans-serif;
$maincolor: steelblue;

$padding-card: 0.75em 1.25em;
$border-radius-card: 100vw;
$linkBackground: #fcfcfc;